<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>Waqqly Site | Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Registration</h1>

    <form>
        <label>I am a...</label><br>
        <input type="radio" required id="owner" name="type" value="Owner">
        <label for="owner">Dog Owner</label> &emsp;
        <input type="radio" required id="walker" name="type" value="Walker">
        <label for="walker">Dog Walker</label>
        <br><br>
        <label for="fname">First Name:</label><br>
        <input type="text" required id="fname" name="first_name" value=""><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" required id="lname" name="last_name" value=""><br>
        <br>
        <label for="email">Email address:</label><br>
        <input type="email" required id="email" name="email" value=""><br>
        <label for="phone">Phone number:</label><br>
        <input type="tel" required pattern="\+?\s?(?:\(\d{3}\))?\d+" id="phone" name="phone" value=""><br>
        <br>
        <label for="addr_line1">Address line 1:</label><br>
        <input type="text" required id="addr_line1" name="addr_line1" value=""><br>
        <label for="addr_city">City:</label><br>
        <input type="text" required id="addr_city" name="addr_city" value=""><br>
        <label for="addr_country">Country:</label><br>
        <input type="text" required id="addr_country" name="addr_country" value=""><br>
        <label for="addr_postal">Postal Code:</label><br>
        <input type="text" required id="addr_postal" name="addr_postal" value=""><br>
        <br>
        <input class="button primary" type="submit" value="Register"></input>
        <a href="/" class="button secondary">Cancel</a>
    </form>

    <br><br><br>
    <div class="banner">
        <footer>
            '<img src="/static/media/icon.png" alt="W icon" height="12px">'
            Icon provided by riajulislam from
            <a href="https://www.flaticon.com/free-icon/letter-w_9511543" title="Icon Page">Flaticon</a>.
        </footer>
    </div>
</body>

</html>