<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <title>Waqqly Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg">
    <h1>Greetings, traveler!</h1>
    <p>Hello there!</p>
    <br>
    <h2>Random item:</h2>
    <p>Name: <b>{{testitem.name}}</b></p>
    <p>Profession: <b>{{testitem.profession}}</b></p>
    <pre>
        <code>
this.marker()
effortless.OS().break(3)
        </code>
    </pre>
    <br>

    So now you do <code>this.break()</code><br><br>
    <a class="button" href="/register"> New Registration </a>

    <div class="banner">
        <footer>
            '<img src="/static/media/icon.png" alt="W icon" height="12px">'
            Icon provided by riajulislam from
            <a href="https://www.flaticon.com/free-icon/letter-w_9511543" title="Icon Page">Flaticon</a>.
        </footer>
    </div>
</body>

</html>